body {
  background-color: #eee;
}

a {
  color: green;
  background-color: red;
  border: solid 1px #d00;
  padding: 10px;
  margin-top: 25px;
  border-radius: 4px;
}

a::link {
  color: pink;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
  background-color: #f55;
}

a:active {
  color: black;
}
