body {
  background-color: #eee;
}

.caja {
  margin: 8px;
  padding: 8px;
  border: 8px solid #faa;
  background-color: #aaf;
  border-left: 8px solid #afa;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  color: #575;
}
